## List
- Mutable data type (Chnages ki jasakti hain)
- when adding to list, so address donot changes
- list has its own address and its items have there own address but item address are stored in the list address

#### Add

In [1]:
L = [1,2,3,4,5,6]
L.append(7)
L

[1, 2, 3, 4, 5, 6, 7]

In [2]:
L = [1,2,3,4]
print(id(L))
L.append(5)
print(id(L))

2532379564096
2532379564096

In [4]:
L = [1,2,4]
L.insert(1,100)
L

[1, 100, 2, 4]

In [7]:
L = [1,2,3]
L.extend([4,5,6])
L

[1, 2, 3, 4, 5, 6]

#### Edit

In [8]:
L = [1,2,3,4,5,6]
L[-1] = 7
L

[1, 2, 3, 4, 5, 7]

In [13]:
L = [1,2,3,4,5,6,7,8]
L [1:4] = [10,11,12]
L

[1, 10, 11, 12, 5, 6, 7, 8]

#### Delete
- Del
- Pop
- Remove

In [ ]:
L = [1,2,3,4,5,6,7,8]
del L[2:5]
print(L)
del L
print(L) # all list got deleted

[1, 2, 6, 7, 8]

NameError: name 'L' is not defined

In [ ]:
# want to remove particular thing from the list
L = [1,2,3,4,5,6,7,8,9]
L.remove(4)
print(L)
L.remove(100) # will give error if that item is not present in the list
L

ValueError: list.remove(x): x not in list

In [23]:
# Pop
L = [1,2,3,4,5,6,7,8,9]
L.pop()
print(L)
L.pop(2)
L

[1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 4, 5, 6, 7, 8]

#### Ordered List

In [21]:
L1 = [1,2,3,4,5]
L2 = [5,4,3,2,1]
print(L1 == L2)
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,5]
print(L1 == L2)

False
True

#### Mathematical functions in list
- len
- min
- max
- sum

In [24]:
L = [1,2,3,4,5,6,7, '8']
sum = L.sum()
print(sum)

AttributeError: 'list' object has no attribute 'sum'

#### Sorted

In [30]:
L = [1,5,2,3.0,9,8,7,4,6]
print(sorted(L))
print(sorted(L, reverse=True))

[1, 2, 3.0, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3.0, 2, 1]

#### Count

In [35]:
L = [1,2,3,4,5,3,7,8,9]
print(L.count(3)) # returns the frequency of that number in list
print(L.count(100))

2
0

#### Index

In [36]:
L = [1,2,3,4,5,3,7,8]
L.index(3)

2

#### Practise Question

In [ ]:
# Q1
list = ["apple", "milk", "bread", "eggs", "rice", "butter"]
# list.append("Flour")
# list.append("sugar")
# print(list)
# list[2] = "brown bread"
# print(list)
# list.remove("milk")
# print(list)
# print(list[2:5])

['apple', 'milk', 'bread', 'eggs', 'rice', 'butter', 'Flour', 'sugar']
['apple', 'milk', 'brown bread', 'eggs', 'rice', 'butter', 'Flour', 'sugar']
['apple', 'brown bread', 'eggs', 'rice', 'butter', 'Flour', 'sugar']
['eggs', 'rice', 'butter']

## Tuple
- Immutable (cannot change once it is created)
- It is also sequential data type
- Allows duplicates

In [40]:
t = ()
print(t)
t = (1)
print(t)
t = (1,)
print(t)
t=(1,2)
print(t)

()
1
(1,)
(1, 2)

In [52]:
t = (1,2,3,5.6,'Muneeb',True)
print(t)
t = (1,2,3, (4,5,6))
print(t)
t = tuple("Muneeb")
print(t)
print(l)
t = tuple(["Muhammad","Muneeb", "Zafar"])
print(t)

(1, 2, 3, 5.6, 'Muneeb', True)
(1, 2, 3, (4, 5, 6))
('M', 'u', 'n', 'e', 'e', 'b')
('M', 'u', 'n', 'e', 'e', 'b')
('Muhammad', 'Muneeb', 'Zafar')

#### Practise Question

In [ ]:
apartment = ("downtown", 3,2, 45000, "Available")
print(apartment[0], apartment[2], sep = "\n")

modified = apartment[:-1] + ("Rented",)
print(modified)

downtown
2
('downtown', 3, 2, 45000, 'Rented')

#### Practise Question

In [ ]:
# Q2
employees = [
(201, "Ayesha", "IT", 2500.75, 22, True),
(202, "Bilal", "HR", 2000.50, 18, True),
(203, "Sana", "Finance", 1800.00, 20, False)
]

# single_emp = employees[1]
# print(single_emp)

# total_salary = single_emp[3] * single_emp[4]
# print(total_salary)
# is_permanent = single_emp[5] 
# print(is_permanent)

# is_total_salary_greater_than_50000 = total_salary > 50000
# print(is_total_salary_greater_than_50000)

# bonus = 5000
# final_output = total_salary + (bonus * (is_total_salary_greater_than_50000 and is_permanent))
# print(final_output) 

# Q3

(202, 'Bilal', 'HR', 2000.5, 18, True)
36009.0
True
False
36009.0

## Sets
- Unordered
- Mutable
- No Duplicates
- Cant contain mutable datatypes

In [10]:
s = {}
print(s)
print(type(s))
s = set()
print(s)
print(type(s))

{}
<class 'dict'>
set()
<class 'set'>

#### Automatically removes the duplicates

In [12]:
s = {1,2,3,4,5,5, 6, 6, 6}
print(s)

{1, 2, 3, 4, 5, 6}

#### Cant have mutable items

In [13]:
s = {1,2,3,4,5, {6,7,8}}
print(s)

TypeError: cannot use 'set' as a set element (unhashable type: 'set')

#### Cannot perform slicing or indexing because of unordered

#### Items can be added in this
- Add
- Update

#### delete 
- Del keyword
- Remove (if not found that particular item in the set then it will through error)
- Discard
- Pop

In [15]:
s = set([1,2,3,4,5])
print(s)
s.remove(3)
print(s)
s.remove(100) # will give error if that item is not present in the set
print(s)

{1, 2, 3, 4, 5}
{1, 2, 4, 5}

KeyError: 100

In [16]:
s.discard(100) # will not give error if that item is not present in the set
print(s)

{1, 2, 4, 5}

In [20]:
s = {1,2,4,5,6, False, 45.9, (1,2,4,5)}
print(s)

{False, 1, 2, 4, 5, 6, 45.9, (1, 2, 4, 5)}

## Frozen set 
- immutable version of set

#### Practise set

In [28]:
visits = [101, 102, 103, 101, 104, 102, 105, 103, 105, 106]

set_1 = set(visits)
print(set_1)

list_1 = list(set_1)
print(len(list_1))
print(list_1)
# Compare the length of list_1 and set_1
print(len(list_1) == len(visits))

{101, 102, 103, 104, 105, 106}
6
[101, 102, 103, 104, 105, 106]
False

## Dictionary
- Mutable
- keys cant be duplicated
- keys cant be mutable datatypes

In [29]:
d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [32]:
d = {"name": "Muneeb", "age": 25, "city": "Karachi"}
print(d)

{'name': 'Muneeb', 'age': 25, 'city': 'Karachi'}

#### keys cannot be mutable

In [31]:
d = {[1,2,4]: "abc"}
print(d)

TypeError: cannot use 'list' as a dict key (unhashable type: 'list')

In [36]:
print(d["name"])
print(d.keys())
print(d.values())

Muneeb
dict_keys(['name', 'age', 'city'])
dict_values(['Muneeb', 25, 'Karachi'])

In [37]:
d = dict([(1, "Muhammad"), (2, "Muneeb"), (3, "Zafar")])
print(d)

{1: 'Muhammad', 2: 'Muneeb', 3: 'Zafar'}

#### Use Case for duplicate keys

In [38]:
d = {1: 100, 2: 200, 1: 300}
print(d)

{1: 300, 2: 200}