### Print statement (built-in function)

In [4]:
print('Hello World')

Hello World

In [5]:
print("Hello world")

Hello world

In [6]:
print(''' Hello
 World
''')

 Hello
 World

In [7]:
print("a","b","c","d")

a b c d

### Sep function

In [8]:
print("a", "b", sep="\n")

a
b

### end

In [12]:
print("a", "b", sep="-")
print("c")
print()
print("a", "b", sep="-", end="-")
print("c")

a-b
c

a-b-c

# Data Types

- Basic

### String
- String is also called sequential data type

In [23]:
print("My name is Muhammad Muneeb Zafar")

My name is Muhammad Muneeb Zafar

### Integer

In [ ]:
print(2)
print("My experience is",2)

2
My experience is 2

In [20]:
# python can handle number till 1e308, it cannot process even 1 greater than this number  
print(1e308)
print(1e309)

1e+308
inf

### FLoat

In [21]:
print(1.7)
# python can handle number till 1e308, it cannot process even 1 greater than this number  
print(1.7e308)
print(1.7e309)

1.7
1.7e+308
inf

### Boolean

In [ ]:
print(True)

print("7")

True

### Complex

In [25]:
#real + imaginary = complex
print(4+5j)

(4+5j)

### Variables
- Variables are case Sensitive example: name, Name

In [26]:
name = "Muhammad Muneeb Zafar"

print("My name is", name)

My name is Muhammad Muneeb Zafar

### Dynamic Typing
- Python automatically reads the variable and then decides which data type should be given to variable

In [27]:
name = 3
name = "Muhammad Muneeb Zafar"

print("My name is", name)

My name is Muhammad Muneeb Zafar

### Python Tutor for visualization

### To see the address of the variable we have id function

In [28]:
variable = "a"
print(id(variable))
variable = 2
print(id(variable))

140715094591736
140715094525080

### function to check that the variable has been deleted or not ?

### we can store data in variables in multiple ways

In [ ]:
name, age, city = "Muneeb", 22, "karachi"

a = b = c = "Hello World"

### To check data type of any data

In [33]:
# First type function will be run and then print function will work
print(type(2))
print(type("Muneeb"))
print(type("4"))

<class 'int'>
<class 'str'>
<class 'str'>

### If we assign data type to the varaible and then give another data type value to the same variable what will happen 
- If you assign data type and then run library = pyTest then overriding can get stop

In [35]:
name:str = "Muneeb"
name = 4

print("My name is", name)

My name is 4

### How to change data type of any variable (Type casting)
- float(): any int to float 
- int(): any float to int, when converting to int it removes all the number after the decimal point (.)
- incase of Boolean True we convert into the integer it gives 1. if any other thing present like characters it will give error
- if 7.57 is written in string then we convert it into the integer it will give error 
- Python supports this conversion float("45") into the float

In [ ]:
height = 10
print(type(height))
height = float(height)
print(type(height))

print()

number = 5.7
print(type(number))
number = int(number)
print(type(number))
# it removes all the numbers after decimal point
print(number)

print()

print(int(True))
print(type(int(True)))

print(int("4.57")) # --> Will give error

<class 'int'>
<class 'float'>

<class 'float'>
<class 'int'>
5

1
<class 'int'>

ValueError: invalid literal for int() with base 10: '4.57'

### Literals
- values assigned to variables is called literals
- Four types (numeric, string, boolean, special)

In [49]:
#Numeric
# 0b01 -> binary
# 0dxx -> decimal
# 0oxx -> octal
# 0hxx -> hexa

#Special
# None -> Data Type = NoneType

### How to take input from user

In [52]:
Name = input("Enter your name: ")
print(Name)

Muneeb

### Dynamic String
- string concatenation
- f-string method
- string format

In [65]:
name = input("Enter your Name: ")
age = input("Enter you Age: ")
print("String Concatenation")
print("My name is " + name + " and my Age is " + age)

print()
print("F-String")
print(f"My name is {name} and my age is {age}")

print()
print("String Fomat")
print("My name is {1} and my age is {0}".format(name, age)) # 0, 1 are index position

String Concatenation
My name is Muneeb and my Age is 20

F-String
My name is Muneeb and my age is 20

String Fomat
My name is 20 and my age is Muneeb

### keywords
- reserved words for python (cannot declare them)
- total 33 keywords in python
- keywords and builtin functions are different

In [70]:
# reserved word of python
True = 1

SyntaxError: cannot assign to True (3527057210.py, line 2)

In [71]:
# builtin function
print = 1

In [ ]:
print = 1
type(print)

int

In [74]:
print(print)

TypeError: 'int' object is not callable

### Identifiers
- naming rules
  - special characters
  - case sensitive
  - cannot use space in the variable name
  - cannot use python keywords
  - cannot start from numbers at